.normal-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: blue;
}
.italic-text{
    font-family: Georgia,  serif;
    font-size: 18px;
    font-style: italic;
}

.bold-text{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-style: bold;
}
.line-height-example{
    font-family: Arial, sans-serif;
    font-size: 18px;
    /* line height */
    line-height: 1.5rem;
}

.latter-spacing-text{
    font-size: 20px; 
    letter-spacing: 1.75;
}

.text-aligment-element{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px;
}